.section_padding{
    padding: 4rem 4rem;
}
.footer{
    background-color: #1ea27e;
    /* position: absolute; */
    /* bottom: 0; */

   
}
.sb_footer{
    display: flex;
   flex-direction: column;
  
}
.sb_footer_links{
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    padding: 2rem 0;
  
}
.sb_footer_links_div{
  display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: flex-start;
    width: 250px;
    color: white;
}
.sb_footer_links_div a p{
    /* color: rgb(175,175,179); */
    color: white;
    text-decoration: none;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    
}
.socialMedia_icon {
    margin: 1rem;
    display: inline-block;
   
}

.socialMedia_icon svg {
    font-size: 2rem;        
    color: #fff;          
    transition: color 0.3s; 
}

.socialMedia_icon svg:hover {
    color: #1a4632;     
}


 .socialMedia_icon{
    margin: 1rem;
}

.socialMedia a{
    height: 20px;
    margin-right: 5px;

    color: white;
    cursor: pointer;
}
.sb_footer_links_div h3{
    /* font-size: 14px; */
    margin-bottom: 0.9rem;
    line-height: 17px;
}
.sb_footer_links_div p{
    font-size: 15px;
    margin: 0.5rem 0;
    line-height: 15px;
    cursor:pointer;
}
.sb_footer_below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
   
}
.sb_footer_below_links{
    display: flex;
    flex-direction: row;
}
.sb_footer_below_links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}
hr{
  color:white !important;
  width:100%;
}
.sb_footer_copyright p{
    font-size: 13px;
    line-height: 15px;
    color: white;
    font-weight: 600;
}
@media screen and (max-width: 850px){
  .sb_footer-heading h1{
    font-size: 44px;
   line-height: 50px;
  }
}
@media screen and (max-width: 550px){
  .sb_footer-heading h1{
    font-size: 34px;
   line-height: 42px;
  }
    .sb_footer_links div{
        margin: 1rem 0; 
    }
    .sb_footer_btn p{
       font-size: 14px;
       line-height: 20px;
    }
    .sb_footer_below{
        flex-direction: column;
        justify-content: left;
    }
    .sb_footer_below_links {
      flex-direction: column;
  }
    .sb_footer_below_links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
  
}
@media screen  and (max-width: 400px){
  .sb_footer_heading h1{
    font-size: 27px;
    line-height: px;
  }
  
}
